.pokemon-sets-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0px, 210px)); /* Adjust the column width as needed */
  row-gap: 20px;  /* Adjust the gap between items */
  column-gap: 60px;
  padding: 0px;
  margin: 0 auto;
  justify-content:center;
  align-items: center;
  background-image: url('/src/photos/pokemon-background.jpg');
  background-size: cover; /* Scales the image as large as possible without stretching */
  background-attachment:fixed;
}

.pokemon-sets-div{
  width: 90%;
}

h1 {
  color: white;
  font-size: 3rem;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  text-align: center; 
}


.pokemon-sets {
  text-align: center;
  background-color: #f0f0f0;

  width: 15%;
  min-width: 260px;
  min-height: 260px;

  position: relative;

  overflow: hidden;
  z-index: 10;
  touch-action: none;
  
  border-radius: 5% / 3.5%;
  box-shadow: 
  -5px -5px 5px -5px var(--color1), 
  5px 5px 5px -5px var(--color2), 
  -7px -7px 10px -5px transparent, 
  7px 7px 10px -5px transparent, 
  0 0 5px 0px rgba(255,255,255,0),
  0 55px 35px -20px rgba(0, 0, 0, 0.5);

  transition: transform 0.5s ease, box-shadow 0.2s ease;
  will-change: transform, filter;

  background-color: rgba(185, 20, 20, 0.9);
  background-image: var(--front);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  transform-origin: center;
}

.pokemon-sets h3{
    color: white;
    text-decoration: none;
}

.pokemon-sets-a{
    text-decoration: none;
}


.pokemon-sets img {
  max-width: 70%;
  min-width: 70%;
  user-select: none;
  cursor: pointer;
}
